<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Host Resource Manage System</title>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/login/login.js"></script>
    <link rel="stylesheet" href="/static/login/login.css"/>
</head>
<body onselectstart="return false">
    <div id="background"></div>
    <div id="container">
        <div id="leftArea" class="loginArea">
            <div id="leftContent" class="loginContentArea">
                <div id="introduction" class='introductionItemDiv'>
                    <div class="introductionItem">welcome<br/>to<br/>this<br/>system</div>
                    <div class="introductionItem">this</div>
                    <div class="introductionItem">system</div>
                </div>
                <div id="introductionPointer" class='introductionItemDiv'>
                    <div class="introductionPointerItem"></div>
                    <div class="introductionPointerItem"></div>
                    <div class="introductionPointerItem"></div>
                </div>
            </div>
        </div>
        <div id="rightArea" class="loginArea">
            <div id="loginArea">
                <div id="loginFormDiv">
                    <form action="/login/check/" method="post">
                        <div id="loginHeadDiv" class='loginItem'>
                            <div id="loginHeadContent">VM Manager System</div>
                        </div>
                        <div class="loginUserItem"><input type="text" class="loginUserItemInput" id="loginUsernameInput" value placeholder="username"></div>
                        <div class="loginUserItem"><input type="password" class="loginUserItemInput" id="loginPasswordInput" value placeholder="password"></div>
                        <div id="registerAndLoginButtonDiv" class="loginItem">
                            <div id="loginRegisterDiv"><input type="button" value="register"></div>
                            <div id="loginSubmitDiv"><input type="submit" value="login"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>